:root { 
  --mainBG: #000;
  --mainCL: #fff;
}

body { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--mainBG);
  color: var(--mainCL);
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

img { 
  pointer-events: none;
}